data_dir: "/var/lib/vector"

sources:
  demo_logs:
    type: demo_logs
    format: json
    interval: 1

sinks:
  clickhouse:
    type: clickhouse
    inputs: ["demo_logs"]
    endpoint: "http://{{ hostvars['clickhouse-01'].private_ip }}:8123"
    database: logs
    table: demo_logs
    skip_unknown_fields: true
    date_time_best_effort: true
    healthcheck:
      enabled: false
